<br>
<div class="Subscription_buttons">
  <div class="text-center">
  <%= link_to '  <button type="button" class="btn btn-light">Weekly Flowers</button>'.html_safe, pricing_weekly_path %>
  <br>
  <%= link_to '  <button type="button" class="btn btn-light">Fortnightly Flowers</button>'.html_safe, pricing_fortnightly_path %>
  <br>
  <%= link_to '  <button type="button" class="btn btn-light">Monthly Flowers</button>'.html_safe, pricing_monthly_path %>
</div>

</div>
