<br>
<div class="Subscription_buttons">
  <a href="weekly.html" type="button" class="btn btn-light"  >Weekly flowers</a>
  <a href="monthly.html" type="button" class="btn btn-light"  >Monthly flowers</a>
  <a href="fortnightly.html" type="button" class="btn btn-light"  >Fortnightly Flowers</a>

</div>
