<body class="weekly">
<h1 class="plan_title">Fortnightly Flowers</h1>
  <br>

<div id="mc2z5p8tekbgnt"><a href="https://app.moonclerk.com/pay/2z5p8tekbgnt">Fortnightly Bouquet</a></div><script type="text/javascript">var mc2z5p8tekbgnt;(function(d,t) {var s=d.createElement(t),opts={"checkoutToken":"2z5p8tekbgnt","width":"100%"};s.src='https://d2l7e0y6ygya2s.cloudfront.net/assets/embed.js';s.onload=s.onreadystatechange = function() {var rs=this.readyState;if(rs) if(rs!='complete') if(rs!='loaded') return;try {mc2z5p8tekbgnt=new MoonclerkEmbed(opts);mc2z5p8tekbgnt.display();} catch(e){}};var scr=d.getElementsByTagName(t)[0];scr.parentNode.insertBefore(s,scr);})(document,'script');</script>
</body>
