<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Francis Smith</title>
</head>
<body>

  <br>

  <body class="weekly">
  <h1 class="plan_title">Monthly Flowers</h1>
    <br>

<div id="mc1re9z3j45mhg"><a href="https://app.moonclerk.com/pay/1re9z3j45mhg">Monthly Bouquet</a></div><script type="text/javascript">var mc1re9z3j45mhg;(function(d,t) {var s=d.createElement(t),opts={"checkoutToken":"1re9z3j45mhg","width":"100%"};s.src='https://d2l7e0y6ygya2s.cloudfront.net/assets/embed.js';s.onload=s.onreadystatechange = function() {var rs=this.readyState;if(rs) if(rs!='complete') if(rs!='loaded') return;try {mc1re9z3j45mhg=new MoonclerkEmbed(opts);mc1re9z3j45mhg.display();} catch(e){}};var scr=d.getElementsByTagName(t)[0];scr.parentNode.insertBefore(s,scr);})(document,'script');</script>
