<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



  <title>Francis Smith</title>
</head>
<body class="weekly">

<h1 class="plan_title">Weekly Flowers</h1>
  <br>


<div id="mc2torsl484147"><a href="https://app.moonclerk.com/pay/2torsl484147">Weekly Bouquet</a></div><script type="text/javascript">var mc2torsl484147;(function(d,t) {var s=d.createElement(t),opts={"checkoutToken":"2torsl484147","width":"100%"};s.src='https://d2l7e0y6ygya2s.cloudfront.net/assets/embed.js';s.onload=s.onreadystatechange = function() {var rs=this.readyState;if(rs) if(rs!='complete') if(rs!='loaded') return;try {mc2torsl484147=new MoonclerkEmbed(opts);mc2torsl484147.display();} catch(e){}};var scr=d.getElementsByTagName(t)[0];scr.parentNode.insertBefore(s,scr);})(document,'script');</script>
<p>.</p>
</body>
