<footer class="footer">
  <div class="container-fluid bg py-3" id="footer">
    <div class="container">
      <div class="row">
              <div class="col-sm">
                <h4>Contact us</h4>
                <p>contact@minusoneworkshop.com</p>
                <p>https://www.instagram.com/francissmithflowers/</p>
              </div>
              <div class="col-sm">
              <h4>headline</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="col-sm">
              <h4>headline</h4>
              <p>Lorem ipsum dolor </p>
              <p>information</p>
              <p>information</p>
              </div>
            </div>
        </div>
  </div>
</footer>
