<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">Francis Smith <br /> <span class="meaning"> -flowers with meaning -</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBarDiv"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarBarDiv">
    <div class="navbar-nav justify-content-end">
      <a class="nav-item nav-link" id="link1" href="#top" data-toggle="collapse" data-target=".navbar-collapse.show">Home</a>
      <a class="nav-item nav-link" id="link1"href="#anchor1">About us</a>
      <a class="nav-item nav-link" href="#repeatPrescription">Flowers</a>
      <a class="nav-item nav-link" href="#anchor3">Gallery</a>
      <a class="nav-item nav-link" href="#wellness">Wellness @ -1</a>
  </div>
  </div>
</nav>
