<nav class="navbar sticky-top collapsed navbar-expand-lg navbar-dark" id="nav_bar">
  <a class="navbar-brand" href="#">Francis Smith <br /> <span class="meaning"> -flowers with meaning -</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBarDiv"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarBarDiv">
    <div class="navbar-nav justify-content-end">
      <a class=" nav-item nav-link" href="javascript: document.body.scrollIntoView(true);">Home</a>
      <a class="nav-item nav-link" href="javascript: document.getElementById('anchor1').scrollIntoView();">About us</a>
      <a class="nav-item nav-link" href="javascript: document.getElementById('repeatPrescription').scrollIntoView();">Flowers</a>
      <a class="nav-item nav-link" href="javascript: document.getElementById('instagram').scrollIntoView();">Gallery</a>
      <a class="nav-item nav-link" href="javascript: document.body.scrollIntoView(false);">Wellness @ -1</a>
  </div>
  </div>
</nav>
