<div class="shop">
  <h1>Shop with a meaning...</h1>

  <div class="card" style="width: 16rem;">
  <%= image_tag("bouquet-dummy.jpg", :alt => "flower workshop", :class => 'Card image cap', :id => 'product') %>
  <div class="card-body" id="wrapper">
  </div>
  </div>
  <div class="card" style="width: 16rem;">
  <%= image_tag("bouquet-dummy.jpg", :alt => "flower workshop", :class => 'Card image cap', :id => 'product') %>
  <div class="card-body" id="wrapper">
  </div>
  </div>
  <div class="card" style="width: 16rem;">
  <%= image_tag("bouquet-dummy.jpg", :alt => "flower workshop", :class => 'Card image cap', :id => 'product') %>
  <div class="card-body" id="wrapper">
  </div>
  </div>
  <div class="card" style="width: 16rem;">
  <%= image_tag("bouquet-dummy.jpg", :alt => "flower workshop", :class => 'Card image cap', :id => 'product') %>

  </div>
