<div class="subscription" id="repeatPrescription">
  <div id="anchor2" class="anchor"></div>

  <h1>Flowers with meaning </h1>
  <br>
  <p class="quote">“Can we speak in flowers, it will be easier to understand."</p>
    <br>
  <p>
 From our Brackenbury Village workshop, we are here to fulfil your floral desires
 from as small as a delicate jam jar, to a special birthday or a breath-taking
 wedding; we would love to talk flowers with you for all and any occasions. <br> <br>To Order
 flowers, call us on 07837585786 or drop us an email with some details… </p>
<br>
<div class="call">
  <a href="tel:07837585786" id="callButtons" class="btn btn-info btn-sm " role="button">Call us</a>
  <a href="mailto:contact@francissmithflowers.com" id="callButtons" class="btn btn-info btn-sm " role="button">Email us</a>
</div>
  <br>
<br>
<h2 class="title2">Flower Subscriptions </h2>
<br>
<p>We wholeheartedly believe that receiving a weekly bunch of beautiful fresh
flowers is life enhancing and a wonderful way to bring nature into our lives & homes;
it should be one of the weekly rituals we partake in to make us all feel
better.</p>
<p>Each week our gorgeous seasonal blooms will not only look stunning but
will feature flowers aligning to our monthly affirmations blog, which goes deeper
 into the symbolism & healing properties of the flowers we love so much.</p>
<br>
  <%= link_to '<button type="button" class="btn btn-lg" id="subscriptionButton">Buy or gift a floral subscription</button>'.html_safe, pricing_index_path %>
</div>
