<div class="wellbeing" id="wellness">
  <div class="card">
  <h1>Wellness @ -1</h1>
<p>
Francis Smith is lucky enough to work out of the -1 Workshop.
A uniquely special place offering a host of wellness events including yoga,
meditation, sound therapy and discussion groups alongside floral and vegan
cookery workshops. ( however we are going to
be able to specify details about events etc. in due course). </p>

</div>
</div>
