<div class="workshop">
  <%= image_tag("aboutus.jpg", :alt => "flower workshop", :class => 'worksop_photo') %>
</div>

<div class="card" id="aboutUs">
  <div class="card-body">
    <h1> About us </h1>
    <br>
    <p class="quote">“Nature is not matter only, she is also spirit” Carl Jung</p>
    <p>
Once upon a time in the wild Wild West of London, Lizzie used to frequent her
local Italian restaurant after a long day at work, managing musicians. As a
flower fanatic, she’d often remark on the beautiful displays inside. When
Philippa confided that not only did she run restaurants brilliantly but create discussion worthy flowers - their fate was sealed. The conversation instantly turned from Pizza’s to Peonies.

Francis Smith was selfishly borne out of a desperation for floral sublimity in Brackenbury Village. Our workshop was created to share our vision and exquisite flowers with likeminded neighbours.
We believe in celebrating the magical language & beauty of flowers and their symbolism; love, passion, healing, apology & joy are just five of many reasons to have or gift flowers.
In an overly digitised world, the art of retail interaction is often lost behind a screen or an impersonal cardboard package. Being ecologically minded for us in no longer an option but a necessity.</p>
  </div>
</div>



<div class="card" id="photos">
  <div class="pics">
    <%= image_tag("flowerLizzie.jpg", :alt => "flower workshop", :class => 'bouquet') %>
  </div>
</div>
