<div class="subscription" id="repeatPrescription">
  <h1>Flower Subscriptions</h1>
  <br>
  <p class="quote">“Can we speak in flowers, it will be easier to understand."</p>
    <br>
  <p>
  From our Brackenbury Village workshop, we are here to fulfil your floral
  desires from a delicate jam jar to a breath-taking wedding we would love to
  talk flowers with you for all and any occasions. (Call us for a chat or drop
  us an email with some details.)From our Brackenbury Village workshop, we
  are here to fulfil your floral desires from a delicate jam jar to a
  breath-taking wedding we would love to talk flowers with you for all and any
  occasions. (Call us for a chat or drop us an email with some details.)
We wholeheartedly believe that receiving a weekly bunch of beautiful fresh f
lowers is life enhancing and a wonderful way to bring nature into our lives &
homes and should be one of the weekly rituals to make us all feel better.
<br>
Each week our gorgeous seasonal blooms will not only look stunning but will
feature flowers aligning to our monthly affirmations blog, which goes deeper
into the symbolism & healing properties of the flowers we love so much.  </p>
<br>
  <%= link_to '<button type="button" class="btn btn-lg" id="subscriptionButton">Get a Subscription</button>'.html_safe, new_subscription_path %>
</div>
