
 @media (min-device-width: 480px){
   #content {
     background-image: url("door.jpg");
     position: relative;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;

   }
 }

 .alink {
 display: block;
 width: 100vh;
 height: 200vh;
 }

#bgrnd {
  background-color: #116D89;
}


.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}
