@import './layout/fonts.css.scss';


@font-face {
  font-family: 'josefinSans';
  src: font_url('JosefinSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'josefinSansItalic';
  src: font_url('JosefinSans-LightItalic.ttf') format('truetype');
}
@font-face{
  font-family: 'snellBT-Regular';
  src: font_url('SnellBT-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'cinzel';
  src: font_url('Cinzel-Regular.otf')format('opentype');
}



 @media (min-device-width: 580px){

   :target::before {
  content: "";
  display: block;
  height: 200px; /* fixed header height*/
  margin: -200px 0 0; /* negative fixed header height */
}
   #callButtons{
      background-color: #116D89 !important;
      color: #DEDFDE;
      font-family: cinzel;
      font-size: 16px;
      margin: 3px;
    }


 .alink {
 display: block;
 width: 100vh;
 height: 200vh;
 }
 .modal-body p{
       font-size: 20px;
       background-color: #116D89;
     }
 .modal-content{
       background-color: #116D89 !important;
             color:#fef0e4;
             font-family: josefinSans;
       }
 .modal-body h1{
       font-family: snellBT-Regular;
       color:#fef0e4;
       background-color: #116D89;
     }
#bgrnd {
  background-color: #FFFFFF;
}

nav{
  background-color: #fef0e4;
  margin-top: -88 !important;

  .navbar-brand{
    font-family: cinzel !important;
    font-style: normal !important;
    font-size: 2em !important;
    margin-left: 4em;
    color: #404041 !important;
    line-height:24px;

    .meaning{
      font-family: josefinSansItalic !important;
      font-size: 18px !important;
      margin-left: 30px;
      }

  }

  .nav-item{
    font-family: josefinSans !important;
    font-size: 1.2em !important;
    color: #404041!important;
    justify-content: flex-end !important;
  }

  .navbar-nav{
    margin-right: 4em;
    margin-left: 20em !important;

  }

}
.instagram{
  padding-top: 90px!important;
  font-family: snellBT-Regular;
  font-size: 3em;
  text-align: center;
  color: #404041;
  .morePhotos{
    text-align:left;
    font-family: snellBT-Regular;
    color: #404041;
    font-size: 0.5em;


  }
}
.workshop{
  height:40em;
  grid-column: 1/4;

  .worksop_photo{
    height: 100%;
    display: table;
    margin: 0 auto;
  }

}

.contact{
  background-color:#fef0e4;
}
#aboutUs{
  background-color: #fef0e4;
  padding: 3em;
  margin-top: -2em;
  margin-left: 20%;
  min-width: 20em;
  float: left;

  h1{
    font-size: 2em;
    text-align: center;
    color: #404041;
    font-family: cinzel !important;
    font-style: normal !important;
    line-height:24px;

    .meaning{
      font-family: josefinSansItalic !important;
      font-size: 18px !important;
      }
  }

  p{
      font-family: josefinSans;
      text-align: center;
      color: #404041;
    }
    .quoteee{
      font-family: cinzel;
      text-align: center;
      color: #404041;
      font-size: 18px;

    }
    .name{
      font-family: cinzel;
      text-align: center;
      color: #404041;
      font-size: 10px;
      line-height:1px;
    }
    .title2{
        font-family: cinzel;
        text-align: center;
        color: #404041;
        font-size: 1em;

    }
  }

#photos{
  float: left;
  margin-right: 7em;
  padding: 1em;
  background: #fef0e4;
  width: 20em;
  margin-left: 20%;
  margin-top: 2em;
  align-self: start;

  #pics{margin: 0 auto;}

  .bouquet{
    display: inline-block;
    width: 100%;
    }
}

.wrapper {
  display:grid;
  grid-template-columns: 50% 50%;
}


.subscription{
  margin-top:30px;
    grid-column: 1/4;
    background-color: #012F46;
    text-align: center;
    padding-top: 110px !important;
    padding-left: 15em;
    padding-right: 15em;
    padding-bottom: 4em;
    margin-bottom: 4em;


  p{
      font-family: josefinSans;
      text-align: center;
      color: #BDA285;
      margin-left: 3em;
      margin-right: 3em;
    }
    h1{
      font-family: cinzel;
      font-size: 65px;
      text-align: center;
      color: #BDA285;
    }



    #subscriptionButton{
      background-color: #116D89 !important;
      color: #DEDFDE;
      font-family: cinzel;
      font-size: 16px;
      padding-right: 0.5em;
      padding-left: 0.8em;
    }
    .quote{
      font-family: cinzel;
      text-align: center;
      color: #BDA285;
      font-size: 20px;
    }
    .title2{
      font-family: cinzel;
      text-align: center;
      color: #BDA285;
      font-size: 30px;
    }
}
.typeform-widget{
  font-family: josefinSans !important;
}
.shop{
  margin-top: 5em;
  grid-column: 1/4;
  margin: 0 auto;
  h1{
    font-family: snellBT-Regular;
    font-size: 4em;
    color: #BDA285;
    text-align: center;
    margin-bottom: 1em;
  }
  .card{
    background-color: #BDA285;
    float: left;
    margin: 1em;
    margin-bottom: 3em;
  }
  #product{
    width: 100%;
    padding: 0.5em;
    background: #BDA285;
  }
  #wrapper {
    display: inline-block;
    padding: 0em;
    float: left;
    background: #fef0e4;
    align-self: start;
    grid-column: 1/4;
    text-align: center !important;
    h5{font-family: cinzel;
    color: #5B5B5B;
    text-align: center !important;
  }
    p{font-family: josefinSans;
    color: #5B5B5B;}
  }

}
.cookie{
  background: #fef0e4 !important;
  margin-top: 50px;

  .CookieDeclaration{
    background: #fef0e4 !important;
    color: #404041;
    font-family: josefinSans;
    p{
      font-family: josefinSans;
    }
  }
}
.wellbeing{grid-column: 1/4;
  background-color: #ffffff !important;
#wellness{
    background-color: #ffffff !important;
padding-top: 110px !important;
}
  .card{
    position: relative;
  margin-top:30px !important;
  width: 70%;
  margin: 0 auto;
  background: #116D89;
  padding: 3em;
  color: #DEDFDE;
}

  h1{
    font-family: cinzel;
    text-align: center;
    margin-bottom: 1em;
  }
  p{
    font-family: josefinSans;
    text-align: center;
  }
  .link{
    color: #DEDFDE !important;
  }
}
.contactus{

  width: 60em;
  margin: auto;
  margin-top: 4em;

  h1{font-family: snellBT-Regular;
    color: #5B5B5B;
  text-align: center;
  font-size: 5em;
}
  p{

    font-family: josefinSans;
    color: #5B5B5B;
    text-align: center;
    font-size: 1.5em;

  }
}
.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -90px;
    left: 0;
    visibility: hidden;
}

.hey  {
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      z-index: -1;
      top: -90px;
      left: 0;
      visibility: hidden;
  }



  #contact{
    font-family: 'Josefin Sans', sans-serif;
    background: #012F46;
    margin-left: 85%;
    border-right:10%;
    margin-top: 1%;
  }
  #sendButton
  {
    font-family: josefinSans;
    background-color: #012F46;
    color: #fef0e4;
  }
  .plan_backg{
    background-image: url("piano.jpeg");
    position: relative;
   background-repeat: no-repeat;
   background-size: cover;
    background-attachment: fixed;
  }
.Subscription_buttons{
  margin-right:35%;
  margin-left: 35%;
  margin-top: 3rem;


    h2{
      color: #fef0e4;
      font-family: josefinSans;
      font-size: 2rem;
    }
    p{
      color: #5B5B5B;
      margin-right: 1rem;
  }
  button{
    float: left;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #fef0e4;
    color: #5B5B5B;
    font-family: Cinzel-Regular;
    width:20rem;
    font-size: 1.5rem;


  }
}
.weekly{
  background-color: #012F46;
}
#mc2torsl484147{
  width: 70%;
}
#mc1re9z3j45mhg{
  width: 70%;
}
#mc2z5p8tekbgnt{
  width: 70%;
}


.plan_title{
  font-family: cinzel;
  font-size: 3em;
  color: #BDA285;
  margin-top: 1em;
  margin-left: 1em;
}


}

.footer{
  margin-top: 50px;
  background: #fef0e4 !important;
  color: #404041;


  h4{
    font-family: cinzel;
    text-align: center;
    margin-bottom: 1em;
  }
  p{
    font-family: josefinSans;
    text-align: center;
  }
  .social{
    color: #404041 !important;
  }
  .left{
    text-align: left !important;
  }
  #mc_embed_signup{background:#fef0e4;
    padding: auto;
    text-align: left !important;
    p{text-align: left !important;}
    label{
      font-family: josefinSans;
    }
    input{
      font-size: 12px !important;
    }
  }
  #mc-embedded-subscribe { background-color: #116D89 !important; }
#mc-embedded-subscribe:hover { background-color: #116D89 !important; }
#mc_embed_signup input.button { padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 18px !important;
    font-family: josefinSans!important;}

}


@media (max-device-width: 900px){
  #photos {
display: none;

}
.workshop{
 grid-column: 1/4;
 margin-bottom: 3em;
 max-width: 900px;



 .worksop_photo{
   margin: 0 auto;
   width: 100%;
 }


}}




@media (max-device-width: 580px){
  #content {
    background-image: url("door.jpeg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }
  #callButtons{
     background-color: #116D89 !important;
     color: #DEDFDE;
     font-family: cinzel;
     font-size: 12px;
     margin: 1px;
   }
  .alink {
  display: block;
  width: 100vh;
  height: 200vh;
  }
  .modal-body p{
        font-size: 20px;
        background-color: #116D89;
      }
  .modal-content{
        background-color: #116D89 !important;
              color:#fef0e4;
              font-family: josefinSans;
        }
  .modal-body h1{
        font-family: snellBT-Regular;
        color:#fef0e4;
        background-color: #116D89;
      }
  #bgrnd {
   background-color: #ffffff;
  }

  nav{
   background-color: #fef0e4;


   .navbar-brand{
     font-family: cinzel !important;
     font-style: normal !important;
     font-size: 2em !important;
     color: #012F46 !important;
     line-height:24px;

     .meaning{
       font-family: josefinSansItalic !important;
       font-size: 18px !important;
       margin-left: 30px;
       }
   }


   .nav-item{
     font-family: josefinSans !important;
     font-size: 1.2em !important;
     color: #012F46!important;
     justify-content: flex-end !important;
     margin-left: 0.2em;
     margin-right: 0.2em;
   }

   .navbar-nav{
     margin-right: 4em;

   }

  }
  .instagram{
    padding-top: 120px!important;
   font-family: snellBT-Regular;
   font-size: 2.5em;
   text-align: center;
   color: #404041;
   .morePhotos{
     text-align:left;
     font-family: snellBT-Regular;
     color: #404041;
     font-size: 0.5em;
   }
  }

  .workshop{
   grid-column: 1/4;
   margin-bottom: 3em;
   max-width: 580px;



   .worksop_photo{
     margin: 0 auto;
     width: 100%;
   }

  }


  #aboutUs{
    max-width: 580px;
   width: 100%;
   background-color: #fef0e4 ;
   padding: 0.5em;
   min-width: 20em;
   clear: both;
   position:relative;
   grid-column: 1/4;


   h1{
     font-size: 2em;
     text-align: center;
     color: #404041;
     font-family: cinzel !important;
     font-style: normal !important;
     line-height:24px;

     .meaning{
       font-family: josefinSansItalic !important;
       font-size: 18px !important;
       }
   }

   p{
       font-family: josefinSans;
       text-align: center;
       color: #404041;
     }
     .quoteee{
       font-family: cinzel;
       text-align: center;
       color: #404041;
       font-size: 14px;

     }
     .name{
       font-family: cinzel;
       text-align: center;
       color: #404041;
       font-size: 10px;
       line-height:1px;
     }
     .title2{
         font-family: cinzel;
         text-align: center;
         color: #404041;
         font-size: 1em;

     }

   }

  #photos{
   padding: 1em;
   background: #fef0e4 ;
   width: 20em;
   margin-top: 2em;
   align-self: start;
   clear:both;
   position:absolute;
  display: none;




   #pics{margin: 0 auto;}

   .bouquet{
     display: inline-block;
     width: 100%;
     }
  }

  .wrapper {
   display:grid;
   grid-template-columns: 50% 50%;
  }

  .subscription{
   grid-column: 1/4;
   background-color: #012F46;
   text-align: center;
   padding-top: 100px;
   padding-left: 1em;
   padding-right: 1em;
   padding-bottom: 4em;
   max-width: 580px;
   width: 100%;
   .quote{
     font-family: cinzel;
     text-align: center !important;
     color: #BDA285;
     font-size: 20px;
   }

   p{
       font-family: josefinSans;
       text-align: center;
       color: #BDA285;
     }
     h1{
       font-family: cinzel;
       font-size: 1.5em;
       text-align: center !important;
       color: #BDA285;
     }


     #subscriptionButton{
       background-color: #116D89 !important;
       color: #DEDFDE;
       font-family: cinzel;
       font-size: 16px;
       padding-right: 0.5em;
       padding-left: 0.8em;
     }
     .quote{
       font-family: cinzel;
       text-align: center;
       color: #BDA285;
     }
     .title2{
       font-family: cinzel;
       text-align: center;
       color: #BDA285;
       font-size: 1em;
     }
  }
  .typeform-widget{
   font-family: josefinSans !important;
  }
  .shop{
   margin-top: 5em;
   grid-column: 1/4;
   margin: 0 auto;
   h1{
     font-family: snellBT-Regular;
     font-size: 3em;
     color: #BDA285;
     text-align: center;
     margin-bottom: 1em;
   }
   .card{
     background-color: #BDA285;
     float: left;
     margin: 1em;
     margin-bottom: 3em;
   }
   #product{
     width: 100%;
     padding: 0.5em;
     background: #BDA285;
   }
   #wrapper {
     display: inline-block;
     padding: 0em;
     float: left;
     background: #fef0e4;
     align-self: start;
     grid-column: 1/4;
     text-align: center !important;
     h5{font-family: cinzel;
     color: #5B5B5B;
     text-align: center !important;
   }
     p{font-family: josefinSans;
     color: #5B5B5B;}
   }

  }
  .cookie{
    background: #fef0e4 !important;
    margin-top: 50px;

    .CookieDeclaration{
      background: #fef0e4 !important;
      color: #404041;
      font-family: josefinSans;
      p{
        font-family: josefinSans;
      }
    }
  }

  .wellbeing{grid-column: 1/4;
   .card{
    padding-top: 110px !important;
   width: 100%;
   margin-bottom: 5px!important;
   background: #116D89;;
   margin-top: 4em;
   padding: 3em;
   color: #DEDFDE;
  max-width: 580px;
  }

   h1{
     font-family: cinzel;
     text-align: center;
     margin-bottom: 1em;
     font-size: 2em;
     font-size: 1.5em;

   }
   p{
     font-family: josefinSans;
     text-align: center;
   }
  .link{
    color: #DEDFDE !important;
  }
 }
 .anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -330px;
    left: 0;
    visibility: hidden;
}


  .contactus{

    max-width: 580px;

   margin: 0 auto;
   margin-top: 4em;
   width: 100%;

   h1{font-family: snellBT-Regular;
     color: #5B5B5B;
   text-align: center;
   font-size: 3em;
  }
   p{

     font-family: josefinSans;
     color: #5B5B5B;
     text-align: center;
     font-size: 1.5em;

   }
  }


       #contact{
         font-family: 'Josefin Sans', sans-serif;
         background: #012F46;
         margin-left: 85%;
         border-right:10%;
         margin-top: 1%;
       }
       #sendButton
       {
         font-family: josefinSans;
         background-color: #012F46;
         color: #fef0e4;
       }
       .weekly{
         background-color: #012F46;
       }
       .plan_title{
         font-family: cinzel;
         font-size: 2em;
         text-align: center;
         color: #BDA285;
       }
       .plan_backg{
         background-image: url("piano.jpeg");
         position: relative;
        background-repeat: no-repeat;
        background-size: cover;
         background-attachment: fixed;
       }
     .Subscription_buttons{

         h2{
           color: #fef0e4;
           font-family: josefinSans;
           font-size: 2rem;
         }
         p{
           color: #5B5B5B;
           margin-right: 1rem;
       }
       button{
         margin-top: 1rem;
         margin-bottom: 1rem;
         background: #fef0e4;
         color: #5B5B5B;
         font-family: Cinzel-Regular;
         width:100%;
         font-size: 1.0rem;
       }
       :target::before {
      content: "";
      display: block;
      height: 500px; /* fixed header height*/
      margin: -500px 0 0; /* negative fixed header height */
    }
     }
     .footer{
       margin-top: 50px;
       background: #fef0e4 !important;
       color: #404041;


       h4{
         font-family: cinzel;
         text-align: center;
         margin-bottom: 1em;
       }
       p{
         font-family: josefinSans;
         text-align: center;
       }
       .social{
         color: #404041 !important;
       }
       .social{
         color: #404041 !important;
       }
       .left{
         text-align: left !important;
       }
       #mc_embed_signup{background:#fef0e4;
         padding: auto;
         text-align: left !important;
         p{text-align: left !important;}
         label{
           font-family: josefinSans;
         }
         input{
           padding: 0 !important;
         }
       }
       #mc-embedded-subscribe { background-color: #116D89 !important; }
     #mc-embedded-subscribe:hover { background-color: #116D89 !important; }
     #mc_embed_signup input.button { padding-top: 5px !important;
         padding-bottom: 5px !important;
         padding-left: 5px !important;
         padding-right: 5px !important;
         font-size: 18px !important;
         font-family: josefinSans!important;}
     }

  }
