  @font-face {
    font-family: 'josefinSans';
    src: url(JosefinSans-LightItalic.ttf) format("truetype");
  }
  @font-face{
    font-family: 'snellBT-Regular';
    src: url('../fonts/SnellBT-Regular.otf')format('opentype');
  }
  @font-face {
    font-family: 'cinzel';
    src: url('Cinzel-Regular.otf.otf')format('opentype');
}



 @media (min-device-width: 480px){
   #content {
     background-image: url("door.jpg");
     position: relative;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;

   }
 }

 .alink {
 display: block;
 width: 100vh;
 height: 200vh;
 }

#bgrnd {
  background-color: #116D89;
}

nav{
  background-color: #012F46;

  .navbar-brand{
    font-family: cinzel !important;
    font-style: normal !important;
    font-size: 2em !important;
    margin-left: 4em;
    color: #fef0e4 !important;

  }

  .nav-item{
    font-family: josefinSans !important;
    font-size: 1.2em !important;
    color: #fef0e4 !important;
    justify-content: flex-end !important;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  .navbar-nav{
    margin-right: 4em;
    margin-left: 8em !important;

  }
  .navbar-toggler-icon{
    color: #fef0e4 !important;

  }
}
